.root {
    -fx-font-size: 9pt;
    -fx-font-family: "Monaco";
    -fx-base: #07bcdc;
    -fx-background: rgb(29, 47, 51);
}

.text {
    -fx-text-fill: #dd840b;
}

.text-field {
    -fx-background-color: #444444;
    -fx-border-color: #075b7c;
    -fx-text-inner-color: #f89c0b;
    -fx-min-width: 190;
}

.scroll-pane {
    -fx-background-insets: 0;

}

.list-cell:even {
    -fx-background-color: #2d4145;
    -fx-text-fill: aqua;
    -fx-cell-size: 2em;
}

.list-cell:odd {
    -fx-cell-hover-color: #075b7c;
    -fx-background-color: #354a4e;
    -fx-text-fill: aqua;
    -fx-cell-size: 2em;
}

.list-cell:filled:hover {
    -fx-background-color: #783c0b;

}

.list-cell:selected {
    -fx-background-color: #dd840b;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: #ff7d38;
    -fx-text-fill: white;
}

.scroll-bar:vertical {
    -fx-background-color: #07354e;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #dd840b;
    -fx-min-width: 120;
    -fx-min-height: 25;
    -fx-border-color: #076b8c;
    -fx-label-padding: 7;
}

.combo-box {
    -fx-min-width: 180;
}

.notification {
    -fx-font-size: 11px;
    -fx-text-fill: #00a6a6;
}

.combo-box .list-cell {
    /*-fx-background: #076b8c;*/
    -fx-background-color: #076b8c;
    -fx-text-fill: white;
    /*-fx-padding: 3 15 2 7;*/
    -fx-cell-size: 2em;
    -fx-cell-hover-color: #076b8c;
    -fx-background-radius: 1
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #ff7d38
}

